DATABASE_URL="postgresql://user:password@localhost:5432/console_shop"
OMISE_WEBHOOK_SECRET="your_webhook_secret"
OMISE_SECRET_KEY="omise_secret_key_value"
OMISE_PUBLIC_KEY="omise_public_key_value"
JWT_SECRET="jwt_secret_value"
JWT_REFRESH_SECRET="jwt_refresh_secret_value"
JWT_REGISTER_SECRET="jwt_register_secret_value"
VONAGE_API_KEY="vonage_api_key_value"
VONAGE_API_SECRET="vonage_api_secret_value"
VONAGE_BRAND="ArcadeZenter"
VONAGE_URL_SEND_OTP="https://api.nexmo.com/verify/json"
VONAGE_URL_VERIFY_OTP="https://api.nexmo.com/verify/check/json"
REDIS_HOST="localhost"
REDIS_PORT=6379
PORT=3012
WEB_URL="http://localhost:3022"